.copy-clipboard {
    margin-top: 5px;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	margin-bottom: 15px;
}

strong {
	font-style: inherit;
	font-weight: bold;
}

.form-wrapper {
	background-color: #F1F1F1;
	border-color: #CCCCCC;
	border-radius: 8px 8px 8px 8px;
	border-style: solid;
	border-width: 1px;
	padding: 20px 30px 10px 20px;
	margin-top: 3%;
}

div.ad-wrapper {
	margin: auto;
	text-align: center;
	padding: 20px 0px 0px 0px;
}

h2.section-title {
	margin-top: 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

p.space {
	margin-bottom: 15px;
}

#inputString {
	width: 100%;
	height: 100px;
}

input[type=file] {
	border: solid 1px #CCC;
	/* padding-left: 5px; */
	width: 100%;
	-webkit-padding-start: 5px;
}

div.buttons {
	padding-top: 20px;
}

.btn.primary {
	color: #ffffff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb),
		to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb),
		color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb',
		endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn:hover {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
}

.btn {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}

.hero-unit {
	padding: 22px 30px;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 4px 4px 4px 4px;
	background-color: #F0F7FF;
}

body {
	background-color: #ffffff;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
}

.content-inner h1 {
	font-size: 2em;
	margin-bottom: 15px;
	letter-spacing: 0;
	/* font-size: 18px; */
	padding-top: 13px;
	border-bottom: 1px solid #CCC;
}

.content-inner h1 {
	padding-top: 0;
	margin-top: -10px;
}


textarea {
    width: 100%;
    min-height: 100px;
}

.single-line {
    width: 100%;
    min-height: 30px !important;
}


.textarea-input {
    height: 100px;
}
.root {
    padding: 1%;
}

.buttons .checkbox {
    padding-left: 30px;
}

pre {
    outline: 1px
    solid #ccc;
    padding: 5px;
    margin: 5px;
     background-color: white;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#errorMsg {
    font-size: 1.0em;
    color: red;
}

.sha-calc .output-box {
    width: 100%;
    border-width: 1px;
    padding: 5px;
    font-family: courier;
}

.sha-calc th {
    width: 7%;
    min-width: 80px;
}

.crc-calc .output-box {
    width: 100%;
    border-width: 1px;
    padding: 5px;
    font-family: courier;
}

.crc-calc th {
    width: 7%;
    min-width: 80px;
}

.crc-calc .radio-buttons {
    margin-top: 10px;
}

.crc-calc .output {
    margin-top: 1%;
}

.copy-paste .link-output {
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
    flex-grow: 1;
    max-width: calc(100% - 10px);
    min-width: 100px;
    padding: 0 10px;
}
